@import 'pdfjs-dist/web/pdf_viewer.css';

.page {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.page > * {
  margin: 0 auto;
}

.pdf-editor-tooltip[data-popper-reference-hidden='true'] {
  visibility: hidden;
}
