@import 'normalize.css';
@import 'tailwindcss/tailwind.css';

/* https://lucide.dev/guide/advanced/global-styling */
.lucide {
  height: var(--icon-size, 16px);
  width: var(--icon-size, 16px);
  stroke-width: 1.8px;
}

@layer utilities {
  .all-initial {
    all: initial;
  }
}

@layer components {
  .scroll-zone {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #bfbfbfa8 transparent;
  }

  .scroll-zone::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }

  @supports not (scrollbar-color: initial) {
    .scroll-zone::-webkit-scrollbar-thumb {
      background-color: #bfbfbfa8;
    }

    .scroll-zone::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}
