@import 'pdfjs-dist/web/pdf_viewer.css';

.pdfViewer * {
  box-sizing: content-box;
}

.textLayer {
  container-type: size;
}

.textLayer [data-render-by='line'] {
  color: var(--render-by-line-text-color, transparent);
}

.textLayer [data-render-by='symbol'] {
  color: var(--render-by-symbol-text-color, transparent);
}

[data-drawing-mode='draw'] .textLayer,
[data-drawing-mode='draw'] .annotationLayer section {
  pointer-events: none;
}

[data-drawing-mode='draw'] .page {
  cursor: crosshair;
}

[data-drawing-mode='select'] svg * {
  pointer-events: auto;
}

[data-drawing-mode='select'] .svg_select_shape {
  fill: transparent;
  pointer-events: none; /** 把 svg select 给禁用掉，拖动才能生效 */
}

[data-drawing-mode='select'] [data-annotation-id] {
  cursor: move;
}

.svg_select_handle_lt,
.svg_select_handle_rb {
  cursor: nwse-resize;
}

.svg_select_handle_rt,
.svg_select_handle_lb {
  cursor: nesw-resize;
}

.svg_select_handle_rot {
  display: none;
}

[data-markjs='true'] {
  color: inherit;
  opacity: 0.4;
}
