.milkdown a > .with-icon:first-child {
  background-position: 0 center;
  background-repeat: no-repeat;
  padding-left: 1.1em;
  background-size: 1em;
}

.milkdown .with-icon:not(a > .with-icon:first-child) {
  background-image: none !important;
}
