@import 'tailwindcss';
@import 'tailwindcss-animated';
@plugin "daisyui";

@layer components {
  .number-suffix {
    @apply flex items-center ml-1 bg-gray-200 px-1 rounded-md;
  }
}

@layer utilities {
  .scrollbar-stable {
    scrollbar-gutter: stable;
  }
}

.lucide {
  stroke-width: 1.5;
}

.btn .lucide {
  width: 18px;
  height: 18px;
}

[hidden]:where(:not([hidden='until-found'])) {
  display: none !important;
}
