.milkdown .editor .link-icon-widget {
  display: inline-flex;
  user-select: none;
  height: 1em;
  width: 1em;
  align-items: center;
  margin-inline-start: 0.2em;
  margin-inline-end: 0.1em;
}

.milkdown .editor .link-icon-widget svg,
.milkdown .editor .link-icon-widget img,
.milkdown .editor .link-icon-widget em-emoji {
  width: 100%;
  height: 100%;
  display: block;
}