@import 'tailwindcss/tailwind.css';

body {
  margin: 0;
}

#app {
  user-select: none;
}

:focus-visible {
  outline: none;
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .all-initial {
    all: initial;
  }
}
