@import 'normalize.css';
@import 'tailwindcss/tailwind.css';

/* https://lucide.dev/guide/advanced/global-styling */
.lucide {
  height: var(--icon-size, 16px);
  width: var(--icon-size, 16px);
  stroke-width: 1.8px;
}

@layer utilities {
  .scrollbar-stable {
    scrollbar-gutter: stable;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #bfbfbf;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .all-initial {
    all: initial;
  }
}
