@import 'normalize.css';
@import 'tailwindcss/tailwind.css';

/* https://lucide.dev/guide/advanced/global-styling */
.lucide {
  height: var(--icon-size, 16px);
  width: var(--icon-size, 16px);
  stroke-width: 1.8px;
}

@layer utilities {
  .all-initial {
    all: initial;
  }
}

@layer components {
  .custom-scrollbar {
    scrollbar-gutter: stable;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #bfbfbfa8;
    border-radius: 4px;
  }

  @supports not (scrollbar-gutter: stable) {
    .custom-scrollbar {
      padding-right: 5px;
    }
  }

  @supports not (scrollbar-width: none) {
    .custom-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }

  .custom-scrollbar:hover {
    scrollbar-width: thin;
  }

  @supports not (scrollbar-width: thin) {
    .custom-scrollbar:hover::-webkit-scrollbar {
      display: initial;
      width: 5px;
      height: 5px;
    }
  }
}
